/framework/.classpath
/page-objects/.classpath
/regression-tests/.classpath
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.m2e.core.prefs
/framework/.settings/org.eclipse.core.resources.prefs
/framework/.settings/org.eclipse.jdt.core.prefs
/framework/.settings/org.eclipse.m2e.core.prefs
/page-objects/.settings/org.eclipse.core.resources.prefs
/page-objects/.settings/org.eclipse.jdt.core.prefs
/page-objects/.settings/org.eclipse.m2e.core.prefs
/regression-tests/.settings/org.eclipse.core.resources.prefs
/regression-tests/.settings/org.eclipse.jdt.core.prefs
/regression-tests/.settings/org.eclipse.m2e.core.prefs
/.project
/framework/.project
/page-objects/.project
/regression-tests/.project
